{% extends "stock/_header.html" %}
{% load transaction_extras %}
{% load humanize %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-group bmd-form-group">
                                    <label for="supplier">Projects</label>
                                    <select class="form-control" id="BOM" name="BOM">
                                        {% for BOM in BOMreview %}
                                            <option value="{{ BOM.BOMname }}||||{{ BOM.projectName }}">{{ BOM.BOMname }}
                                                - {{ BOM.projectName }}</option>
                                        {% endfor %}
                                    </select>
                                    <input class="btn btn-primary pull-right" type="submit" value="View"
                                           id="viewBOM"
                                           name="viewBOM">

                                </div>
                            </div>
                        </form>

                        <div class="col-lg-12">
                            <table id="example" class="table">
                                <thead>
                                <tr>
                                    {% for header in field.headers %}
                                        <th>{{ header }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for value in field.rows %}
                                    {% for i in value %}
                                        <tr>
                                            {% for lineItem in i %}
                                                    <td>{{ lineItem }}</td>
                                            {% endfor %}</tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="8" style="text-align:right"></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <ul class="pagination">
        {% for i in trans_page_obj.paginator.page_range %}
            <li>
                <a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>

    <script>
        var table = $('#example').removeAttr('width').DataTable({
            dom: 'Bfrtip',
            "autoWidth": false,
            buttons: [
                {
                    extend: 'copy',
                    footer: true,
                    text: '<a class="btn btn-primary"><i class="material-icons left">content_copy</i>Copy Current Page</a>',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    footer: true,
                    text: '<a class="btn btn-primary"><i class="material-icons left">list</i>Export Current Page as CSV</a>',
                    exportOptions: {
                        columns: ':visible'
                    },
                    filename: function () {
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = today.getFullYear();

                        today = dd + '.' + mm + '.' + yyyy;
                        return 'Order Report: ' + today;
                    },
                },
                {
                    extend: 'pdfHtml5',
                    footer: true,
                    text: '<a class="btn btn-primary"><i class="material-icons left">picture_as_pdf</i>Export Current Page as PDF</a>',
                    exportOptions: {
                        columns: ':visible'
                    },
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    filename: function () {
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = today.getFullYear();

                        today = dd + '.' + mm + '.' + yyyy;
                        return 'Order Report: ' + today;
                    },
                },


            ],
            "columnDefs": [
                {
                    "visible": false,
                    className: 'hidden',
                }
            ],
            "bPaginate": false,
            "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\£,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            // Total over all pages
            total = api
                .column( 8 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            pageTotal = api
                .column( 8, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer
            $( api.column( 8 ).footer() ).html(
                '£' + pageTotal
            );

            // Total over all pages
            total = api
                .column( 9 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            pageTotal = api
                .column( 9, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer
            $( api.column( 9 ).footer() ).html(
                '£' + pageTotal
            );
        }
        });
    </script>
{% endblock %}